<Modal @ref="modal">
    <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>@provider.name Catalog (@Type.GetName())</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody MaxHeight="70">
            @if (Type == TypeMedia.movie)
            {
                <MyStream.Shared.Card.MediaList @ref="cardMoviePopular" Service="@(new MyStream.Services.TMDB.DiscoverService())" Language="@Language" Region="@Region" CardHeader="Popular (updated daily)" TypeMedia="TypeMedia.movie" ExtraParameters="@ExtraParameters("popularity.desc")"></MyStream.Shared.Card.MediaList>
                <MyStream.Shared.Card.MediaList @ref="cardMovieTopRated" Service="@(new MyStream.Services.TMDB.DiscoverService())" Language="@Language" Region="@Region" CardHeader="Top Rated" TypeMedia="TypeMedia.movie" ExtraParameters="@ExtraParameters("vote_average.desc")"></MyStream.Shared.Card.MediaList>
            }
            else
            {
                <MyStream.Shared.Card.MediaList @ref="cardTvPopular" Service="@(new MyStream.Services.TMDB.DiscoverService())" Language="@Language" Region="@Region" CardHeader="Popular (updated daily)" TypeMedia="TypeMedia.tv" ExtraParameters="@ExtraParameters("popularity.desc")"></MyStream.Shared.Card.MediaList>
                <MyStream.Shared.Card.MediaList @ref="cardTvTopRated" Service="@(new MyStream.Services.TMDB.DiscoverService())" Language="@Language" Region="@Region" CardHeader="Top Rated" TypeMedia="TypeMedia.tv" ExtraParameters="@ExtraParameters("vote_average.desc")"></MyStream.Shared.Card.MediaList>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@modal.Hide">Fechar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public MyStream.Shared.Card.MediaList cardMoviePopular { get; set; }
    public MyStream.Shared.Card.MediaList cardMovieTopRated { get; set; }
    public MyStream.Shared.Card.MediaList cardTvPopular { get; set; }
    public MyStream.Shared.Card.MediaList cardTvTopRated { get; set; }

    [Parameter]
    public Region Region { get; set; } = Region.BR;

    [Parameter]
    public Language Language { get; set; } = Language.ptBR;

    private Modal modal;

    [Parameter]
    public TypeMedia Type { get; set; }

    [Parameter]
    public MyStream.Modal.Provider provider { get; set; } = new();

    public Dictionary<string, object> ExtraParameters(string sort_by) => new Dictionary<string, object>() { { "with_watch_providers", provider.id }, { "sort_by", sort_by } };

    public async Task ShowModal()
    {
        modal.Show();

        if (Type == TypeMedia.movie)
        {
            await cardMoviePopular.LoadData(Type, Region, Language);
            await cardMovieTopRated.LoadData(Type, Region, Language);
        }
        else
        {
            await cardTvPopular.LoadData(Type, Region, Language);
            await cardTvTopRated.LoadData(Type, Region, Language);
        }
    }
}