@inherits ComponenteCore
@inject IStringLocalizer<App> L

<Modal @ref="modal">
    <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>@provider.name (@TypeMedia.GetName())</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody MaxHeight="70">
            <CardMediaList @ref="cardPopular" Service="@serviceDiscover" CardHeader="@L["Popular"]"></CardMediaList>
            <CardMediaList @ref="cardNew" Service="@serviceDiscover" CardHeader="@L["Release"]"></CardMediaList>
            <CardMediaList @ref="cardTopRated" Service="@serviceDiscover" CardHeader="@L["TopRated"]"></CardMediaList>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@modal.Hide">@L["Close"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public CardMediaList cardPopular { get; set; }
    public CardMediaList cardNew { get; set; }
    public CardMediaList cardTopRated { get; set; }

    public IMediaListService serviceDiscover { get; set; } = new Services.TMDB.DiscoverService();

    private Modal modal;

    public MyStream.Modal.Provider provider { get; set; } = new();

    public MediaType TypeMedia { get; set; }

    private Dictionary<string, object> GetExtraParameters(string provider_id, string sort_by)
    {
        return new Dictionary<string, object>() { { "with_watch_providers", provider_id }, { "sort_by", sort_by } }; ;
    }

    public async Task ShowModal(MyStream.Modal.Provider provider, MediaType typeMedia)
    {
        this.provider = provider;
        this.TypeMedia = typeMedia;

        modal.Show();

        _ = cardPopular.LoadData(Settings, TypeMedia, GetExtraParameters(provider.id, "popularity.desc"));
        var extra = GetExtraParameters(provider.id, "release_date.desc");
        extra.Add("release_date.lte", DateTime.Now.ToString("yyyy-MM-dd"));
        _ = cardNew.LoadData(Settings, TypeMedia, extra);
        _ = cardTopRated.LoadData(Settings, TypeMedia, GetExtraParameters(provider.id, "vote_average.desc"));
    }
}