@inherits ComponenteCore

<Modal @ref="modal">
    <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>@provider.name Catalog (@Settings.TypeMedia.GetName())</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody MaxHeight="70">
            <CardMediaList @ref="cardPopular" Service="@serviceDiscover" CardHeader="Popular (updated daily)"></CardMediaList>
            <CardMediaList @ref="cardTopRated" Service="@serviceDiscover" CardHeader="Top Rated"></CardMediaList>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@modal.Hide">Fechar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public CardMediaList cardPopular { get; set; }
    public CardMediaList cardTopRated { get; set; }

    public IMediaListService serviceDiscover { get; set; } = new Services.TMDB.DiscoverService();

    private Modal modal;

    public MyStream.Modal.Provider provider { get; set; } = new();

    private Dictionary<string, object> GetExtraParameters(string provider_id, string sort_by)
    {
        return new Dictionary<string, object>() { { "with_watch_providers", provider_id }, { "sort_by", sort_by } }; ;
    }

    public async Task ShowModal(MyStream.Modal.Provider provider)
    {
        this.provider = provider;

        modal.Show();

        _ = cardPopular.LoadData(GetExtraParameters(provider.id, "popularity.desc"));
        _ = cardTopRated.LoadData(GetExtraParameters(provider.id, "vote_average.desc"));
    }
}