<Modal @ref="modal">
    <ModalContent Centered="true" Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>@provider.name</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Row Margin="Margin.Is2.FromBottom">
                <Column ColumnSize="ColumnSize.IsAuto">
                    @if (string.IsNullOrEmpty(provider.logo_path))
                    {
                        //generic logo path
                    }
                    else
                    {
                        <Image Source="@("https://www.themoviedb.org/t/p/original/" + provider.logo_path)" Text="@provider.name"></Image>
                    }
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="Color.Secondary" Margin="Margin.Is2.FromRight" Clicked="@(()=>PopupCatalog.ShowModal())">
                        <Blazorise.Icon Name="FontAwesomeIcons.List"></Blazorise.Icon> Catalog
                    </Button>
                </Column>
                <Column ColumnSize="ColumnSize.IsAuto">
                    <Button Color="Color.Secondary" Disabled="true">
                        <Blazorise.Icon Name="FontAwesomeIcons.Search"></Blazorise.Icon> Search
                    </Button>
                </Column>
            </Row>
            <Paragraph Alignment="TextAlignment.Justified" Margin="Margin.Is2.FromBottom">
                @*document.querySelector('meta[name="description"]').content*@
                @provider.description
            </Paragraph>
            @foreach (var item in provider.regions)
            {
                <Badge Color="Color.Secondary" Margin="Margin.Is1.FromRight">@item</Badge>
            }
        </ModalBody>
        <ModalFooter Style="justify-content: space-between;">
            @if (string.IsNullOrEmpty(provider.link))
            {
                <a href="@("https://www.google.com/search?q=streaming+" + provider.name)" target="_blank" rel="noopener" style="float: left;">search on google</a>
            }
            else
            {
                <a href="@provider.link" target="_blank" rel="noopener" style="float: left;">@(new Uri(provider.link).Host)</a>
            }
            <Button Color="Color.Secondary" Clicked="@modal.Hide">Fechar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<PopupCatalog @ref="PopupCatalog" Type="Type" provider="@provider" Region="@Region" Language="@Language"></PopupCatalog>

@code {
    public PopupCatalog PopupCatalog { get; set; }

    private Modal modal;

    [Parameter]
    public TypeMedia Type { get; set; }

    [Parameter]
    public Region Region { get; set; } = Region.BR;

    [Parameter]
    public Language Language { get; set; } = Language.ptBR;

    public MyStream.Modal.Provider provider { get; set; } = new();

    public void ShowModal(MyStream.Modal.Provider provider)
    {
        if (provider == null) provider = new();

        modal.Show();

        if (string.IsNullOrEmpty(provider.description))
        {
            provider.description += "No description found";
        }

        this.provider = provider;
    }
}