@inherits ComponenteCore<PopupMovie>

<Modal @ref="modal">
    <ModalContent Centered="true" Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>@media.title</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody MaxHeight="70">
            <Row>
                <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
                    @if (string.IsNullOrEmpty(media.poster_path_185))
                    {

                    }
                    else
                    {
                        <Image Source="@media.poster_path_185" Text="@media.title" Style="width: 100%;"></Image>
                    }                                     
                </Column>
                <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
                    <Badge Color="Color.Secondary" Margin="Margin.Is2.FromRight.Is2.FromBottom">@media.runtime.FormatRuntime()</Badge>
                    @foreach (var item in media.Genres)
                    {
                        <Badge Color="Color.Secondary" Margin="Margin.Is2.FromRight.Is2.FromBottom">@item</Badge>
                    }
                    <Paragraph Alignment="TextAlignment.Justified">
                        @media.plot
                    </Paragraph>                      
                    @if (media.Videos != null && media.Videos.Any())
                    {
                        <Badge Color="Color.Dark" Margin="Margin.Is2.OnY">Videos</Badge>
                        <Row Gutter="(8, 8)">
                            @foreach (var item in media.Videos)
                            {
                                <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                    <Button Type="ButtonType.Link" To="@("https://www.youtube.com/watch?v=" + item.key)" Target="Target.Blank" Color="Color.Light"
                                            Padding="Padding.Is1" title="@item.name" Block="true">
                                        <Blazorise.Icon Name="FontAwesomeIcons.Video"></Blazorise.Icon>
                                    </Button>
                                </Column>
                            }
                        </Row>
                    }
                    @{
                        if (Providers != null && Providers.results != null && Providers.results.US != null && Providers.results.US.flatrate != null)
                        {
                            <Badge Color="Color.Success" Margin="Margin.Is2.OnY">Stream</Badge>
                            <Row Gutter="(8, 8)">
                                @foreach (var item in Providers.results.US.flatrate)
                                {
                                    <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                        <Button Type="ButtonType.Link" To="#" Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                            <Image Source="@("https://www.themoviedb.org/t/p/original/" + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                        </Button>
                                    </Column>
                                }
                            </Row>
                        }
                        if (Providers != null && Providers.results != null && Providers.results.US != null && Providers.results.US.flatrate_and_buy != null)
                        {
                            <Badge Color="Color.Warning" Margin="Margin.Is2.OnY">Stream/Buy</Badge>
                            <Row Gutter="(8, 8)">
                                @foreach (var item in Providers.results.US.flatrate_and_buy)
                                {
                                    <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                        <Button Type="ButtonType.Link" To="#" Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                            <Image Source="@("https://www.themoviedb.org/t/p/original/" + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                        </Button>
                                    </Column>
                                }
                            </Row>
                        }
                        if (Providers != null && Providers.results != null && Providers.results.US != null && Providers.results.US.rent != null)
                        {
                            <Badge Color="Color.Primary" Margin="Margin.Is2.OnY">Rent</Badge>
                            <Row Gutter="(8, 8)">
                                @foreach (var item in Providers.results.US.rent)
                                {
                                    <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                        <Button Type="ButtonType.Link" To="#" Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                            <Image Source="@("https://www.themoviedb.org/t/p/original/" + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                        </Button>
                                    </Column>
                                }
                            </Row>
                        }
                        if (Providers != null && Providers.results != null && Providers.results.US != null && Providers.results.US.buy != null)
                        {
                            <Badge Color="Color.Danger" Margin="Margin.Is2.OnY">Buy</Badge>
                            <Row Gutter="(8, 8)">
                                @foreach (var item in Providers.results.US.buy)
                                {
                                    <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                        <Button Type="ButtonType.Link" To="#" Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                            <Image Source="@("https://www.themoviedb.org/t/p/original/" + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                        </Button>
                                    </Column>
                                }
                            </Row>
                        }
                    }
                </Column>
            </Row>
        </ModalBody>
        <ModalFooter Style="justify-content: space-between;">
            <a href="@media.homepage" target="_blank" rel="noopener" style="float: left;">@media.homepage</a>
            <Button Color="Color.Secondary" Clicked="@modal.Hide">Fechar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public HttpClient Http { get; set; }

    private Modal modal;

    public MyStream.Modal.Media media { get; set; } = new();
    public TMDB_Providers Providers { get; set; } = new();

    public async Task ShowModal(string id, string language, TypeMedia type)
    {
        if (type == TypeMedia.Movie)
        {
            var service_detail = new MyStream.Services.TmdbMovieDetailService();
            this.media = await service_detail.GetMedia(Http, SessionStorage, id, language);

            var service1 = new MyStream.Services.TmdbMovieWatchProvidersService();
            Providers = await service1.GetProviders(Http, SessionStorage, media.id);
        }
        else
        {
            var service_detail = new MyStream.Services.TmdbTVDetailService();
            this.media = await service_detail.GetMedia(Http, SessionStorage, id, language);

            var service1 = new MyStream.Services.TmdbTVWatchProvidersService();
            Providers = await service1.GetProviders(Http, SessionStorage, media.id);
        }

        modal.Show();
    }
}