<Modal @ref="modal">
    <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>@provider.name Catalog (@Type.GetName())</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody MaxHeight="70">
            <MyStream.Shared.Card.MediaList @ref="cardMoviePopular" Service="@(new MyStream.Services.TMDB.DiscoverService())" Language="@Language" Region="@Region" CardHeader="Popular (updated daily)" TypeMedia="TypeMedia.movie" ExtraParameters="@ExtraParameters"></MyStream.Shared.Card.MediaList>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@modal.Hide">Fechar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    public MyStream.Shared.Card.MediaList cardMoviePopular { get; set; }

    [Parameter]
    public Region Region { get; set; } = Region.BR;
    
    [Parameter]
    public Language Language { get; set; } = Language.ptBR;

    private Modal modal;

    [Parameter]
    public TypeMedia Type { get; set; }

    [Parameter]
    public MyStream.Modal.Provider provider { get; set; } = new();

    public Dictionary<string, object> ExtraParameters => new Dictionary<string, object>() { { "with_watch_providers", provider.id } };

    public async Task ShowModal()
    {
        modal.Show();

        await cardMoviePopular.LoadData(Type, Region, Language);
    }
}